body {
    background-color: #000000;
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
a, a:visited {
    color: #0055ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#wrapper {
    max-width: 975px;
    margin-left: auto;
    margin-right: auto;
}
#body {
	overflow: hidden;
}
#header .header-logo img {
	width: 100%;
}
#sidebar {	
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	width: 300px;
	padding-right: 30px;
	vertical-align: text-top;
	
    text-shadow:
    -1px -1px 0 #f885d0,
    1px -1px 0 #f885d0,
    -1px 1px 0 #f885d0,
    1px 1px 0 #f885d0;
}	
#sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: right;
	margin-top: -11px;
}

#sidebar ul li a {
	color: #004cd3;	
}	

#sidebar ul li.current a {
	color: #6880E8;
}

#sidebar ul li.external {	
	font-size: 0.5em;
	text-transform: none;
}

#sidebar ul li.external a {
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#sidebar ul li.external a:hover {
	text-decoration: none;
	
}

#sidebar ul li.external a .arrow {
	font-size: 0.8em;
	width: 23px;
	margin-right: -23px;
	margin-top: -1px;
	display: none;
}
#sidebar ul li.external a:hover .arrow {
	display: inline-block;
}

#content {
	max-width: 645px;
	float: right;
    color: white;
    font-size: 1.1em;    
}

#content p {
	margin: 0 0 10px 0;
}

#footer {
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	position: fixed;
	background-color: black;	
	padding: 3px;
	bottom: 0;
}
#mobile_social_links {
	display: none;
}

.bit-rsvp {
	color: #0055ff !important;
}

.mobile-album-cover {
	width: 100%;
}

@media (max-width: 1005px) {
	#sidebar {
		font-size: 1em;
		width: 100%;
		padding-right: 0px;
	}
	#sidebar ul {
		text-align: center;
		margin-top: 0px;
	}

	#sidebar li {
		display: inline-block;
		margin: 2%;
	}

	#sidebar ul li.external {
		display: none;
	}
	body {
	    background: #000 url(background.gif) no-repeat 37% center fixed;
	    background-size: cover;
	}
	#content { 
		padding: 20px;
	}
	#footer {
		width: auto;
		position: static;
		margin-top: 8px;
		background: none;
	}
	#footer #mobile_social_links a {
		color: white;
	}
	#footer #legal {
		font-size: 0.6em;
	}

	#mobile_social_links {
		display: block;
		margin-bottom: 4px;
	}

}
